.App {
  display: flex;
  flex-direction: column;
}

.MainContainer {
  max-width: 1280px;
  margin: 16px auto;
}

@media all and (max-width: 768px) {
  .MainContainer {
    width: 500px;
    margin: 8px auto;
  }
}

@media all and (max-width: 590px) {
  .MainContainer {
    width: 300px;
    margin: 8px auto;
  }
}

