.PokemonLists {
  display: grid;
  justify-content: center;
  gap: 16px 16px;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 30%);
}

@media all and (max-width: 768px) {
  .PokemonLists {
    grid-template-columns: repeat(2, 50%);
  }
}
