.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ModalOpen {
  opacity: 1;
  transform: translateY(0);
}

.ModalClosed {
  opacity: 0;
  transform: translateY(-100%);
}

.Button {
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 4px -2px grey;
  background: #34d399;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  border: none;
  box-shadow: 0 2px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 16px;
  padding: 8px 32px;
  border-radius: 8px;
}

.InputNickname {
  padding: 8px 16px;
  margin: 8px 0;
}
